body {
    font-family: Georgia, serif;
    background: blue;
}

.tekst {
    max-width: 600px;
    margin: auto;
    color: red;  
}

h1 {
    font-size: 24px;
}

.tekst p {
   text-align: left;
   line-height: 1.6;
}

